body,
ul,
li,
img,
div,
main,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 396px;
  padding: 20px;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  .avatar-list__item {
    width: 64px;
    height: 64px;
    position: relative;

    a {
      font-size: 0;
    }

    .avatar-list__image {
      border-radius: 50%;
      width: 100%;
    }

    .avatar-list__status {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .avatar-list__status--online {
      background-color: #4cfe88;
    }

    .avatar-list__status--offline {
      background-color: #dbdbdb;
    }
  }
}
