body,
ul,
li,
img,
div,
main {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

body {
  background-color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 396px;
  padding: 20px;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.avatar-button {
  width: 64px;
  height: 64px;
  position: relative;

  .avatar__image {
    border-radius: 50%;
    width: 100%;
  }

  &::after {
    content: '';
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #dbdbdb;
  }

  &.avatar--online::after {
    background-color: #4cfe88;
  }
}
